<!DOCTYPE html>
<html>
<head>
  <title>SttT2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/partials/navbar' %>

<div class="container-fluid dash-c">
  <div class="row">
    <!-- sidebar begin -->
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'layouts/partials/left_nav_panel' %>
    </div>
    <!-- sidebar end -->
    <!-- main begin -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
      <% if notice %>
        <div class="alert alert-info alert-dismissible shake animated" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Notice!</strong> <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning alert-dismissible shake animated" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Warning!</strong> <%= alert %>
        </div>
      <% end %>
      </div>
      <!-- content begin -->
      <%= yield %>
      <!-- content end -->
    </div>
    <!-- main end -->
  </div>
  <div class="clear_line_gray"></div>
  <div class="row">
    <div class="col-md-12">
    <p class="text-center">Copyright&#169; <%= Time.now.year %> *** Technology Corporation.</p>
    </div>
  </div>
</div>

</body>
</html>
